body {
    cursor: default;
}

td.move {
    font-weight: bold;
}

:root {
    --bs-body-font-size: 0.9rem;
}

.table-sm {
    > :not(caption) > * > * {
        padding: 1px;
    }
}

h1 {
    margin-bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}
