body {
    cursor: default;
}

td.move {
    font-weight: bold;
}

:root {
    --bs-body-font-size: 0.9rem;
}

.table-sm {
    > :not(caption) > * > * {
        padding: 1px;
    }
}

h1, h2 {
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    background-color: #818181;
    color: white;
}

h2 {
    background-color: #acacac;
}

.cursor-pointer {
    cursor: pointer;
}

.float-right {
    float: right;
}

.icon-move-behavior {
    max-width: 16px;
}

#tooltip {
    position: fixed;
    background-color: #333;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    display: none;
}
