{% set rootPath = '../../..' %}
{% set breadcrumb = [
    {
        "href": "../../../",
        "label": "Characters"
    },
    {
        "href": "index.html",
        "label": character.name
    },
    {
        "href": "index.html",
        "label": "Defense"
    },
    {
        "label": move.getSlug()
    }
] %}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        {% if move is instanceof('\\App\\Character\\Move\\Attack\\Attack') %}
            {% include 'characters/defense/attack.html.twig' with {character: character, attack: move, containerClass: "col-12 col-sm-12 col-md-12 col-lg-6"} only %}
        {% elseif move is instanceof('\\App\\Character\\Move\\Throw\\Throw_') %}
            {% include 'characters/defense/throw.html.twig' with {character: character, throw: move, containerClass: "col-12 col-sm-12 col-md-12 col-lg-6"} only %}
        {% endif %}
    </div>
{% endblock %}

{% block afterContainer %}
    <div id="tooltip"></div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ rootPath }}/scripts/defense.js"></script>
{% endblock %}
