<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% set rootBreadcrumb = [{
            "href": rootPath,
            "label": "TekkenPedia"
        }] %}
        {% for breadcrumbItem in rootBreadcrumb|merge(breadcrumb) %}
            <li
                class="breadcrumb-item{% if loop.last %} active{% endif %}"
                {% if loop.last %} aria-current="page"{% endif %}
            >
                {% if breadcrumbItem.href is defined %}
                    <a href="{{ breadcrumbItem.href }}">{{ breadcrumbItem.label }}</a>
                {% else %}
                    {{ breadcrumbItem.label }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
