<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TekkenPedia</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="styles/styles.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/favicon.png" />
    </head>
    <body>
    <div class="container">
        {% set breadcrumb = [
            {
                "href": ".",
                "label": "TekkenPedia"
            },
            {
                "label": "Characters"
            }
        ] %}
        {% include 'breadcrumb.html.twig' with {breadcrumb: breadcrumb} only %}

        {% for line in 1..4 %}
            <div class="row">
                {% for position in 1..11 %}
                    <div class="col-4 col-sm-2 col-md-2 col-lg-1 pt-3">
                        <div class="card no-border text-center">
                            {% set character = characters.findForSelectScreen(line, position) %}
                            {% if character is not null %}
                                <img class="card-img-top" src="images/characters/{{ character.slug }}/avatar.png" alt="{{ character.name }}" title="{{ character.name }}">
                                {% if character.sections.hasDefenseMoves() %}
                                    <a href="characters/{{ character.slug }}/defense">Defense</a>
                                {% else %}
                                    Defense
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </body>
</html>
